[Unit]
Description=Apache Kafka
Requires=network.target
After=zookeepepr.service

[Service]
Type=simple
ExecStart=/opt/kafka/bin/kafka-server-start.sh /etc/kafka/server.properties
ExecStop=/opt/kafka/bin/kafka-server-stop.sh

[Install]
WantedBy=multi-user.target
