<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">
  <proxies>
    <proxy>
       <active>true</active>
       <protocol>http</protocol>
       <username></username>
       <password></password>
       <host></host>
       <port>8080</port>
       <nonProxyHosts>localhost</nonProxyHosts>
    </proxy>
  </proxies>
</settings>
